appdirs==1.4.4
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
backcall==0.1.0
backports.csv==1.0.7
beautifulsoup4==4.8.0
bleach==3.1.0
bs4==0.0.1
bson==0.5.8
cairocffi==1.1.0
cairosvg==2.4.2
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
clickndrag==0.4.0
colorama==0.4.1
configobj==5.0.6
cryptography==2.7
cssselect==1.1.0
cssselect2==0.2.2
cycler==0.10.0
Cython==0.29.13
decorator==4.3.2
defusedxml==0.6.0
Django==2.2.2
django-bootstrap3==11.0.0
django-bootstrap4==0.0.8
django-debug-toolbar==1.11
django-filter==2.2.0
docker==4.0.2
docopt==0.6.2
docutils==0.15.2
docx==0.2.4
docx2txt==0.8
elasticsearch==7.0.4
entrypoints==0.3
et-xmlfile==1.0.1
flasgger==0.9.3
Flask==1.1.1
fpdf==1.7.2
gitdb2==2.0.5
GitPython==2.1.11
html5lib==1.0.1
idna==2.8
img2pdf==0.3.3
importlib-metadata==2.0.0
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.17
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.10.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
Kivy==1.11.1
kivy-deps.angle==0.1.9
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
lxml==4.3.4
Markdown==3.3.3
markdown2==2.3.8
Markups==3.0.0
MarkupSafe==1.1.1
marshmallow==3.2.1
matplotlib==3.1.2
mccabe==0.6.1
md2pdf==0.4
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
nltk==3.4.4
notebook==5.7.8
ntlm-auth==1.3.0
numpy==1.16.4
oauthlib==3.0.2
odfpy==1.4.0
onedrivesdk==1.1.8
opc-diag==1.0.0
openpyxl==2.6.3
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
pickleshare==0.7.5
Pillow==6.1.0
plotly==4.4.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
psutil==5.5.0
pycparser==2.19
pygame==1.9.6
Pygments==2.4.2
pygubu==0.10.3
pygubu-designer==0.11
pylint==2.3.1
pyparsing==2.4.6
pyphen==0.9.5
pypiwin32==223
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyrsistent==0.15.3
pyte==0.8.0
python-dateutil==2.8.0
python-docx==0.8.10
python-markdown-math==0.8
pytz==2019.1
pywin32==224
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.2
qtconsole==4.5.1
redis==2.10.6
requests==2.22.0
requests-ntlm==1.1.0
requests-oauthlib==1.2.0
ReText==7.1.0
retrying==1.3.3
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
scribd-downloader==1.1.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
soupsieve==1.9.3
sqlparse==0.3.0
tablib==0.13.0
terminado==0.8.2
testpath==0.4.2
thefuck==3.28
tinycss2==1.0.2
tornado==6.0.3
traitlets==4.3.2
typed-ast==1.3.1
urllib3==1.25.3
virtualenv==16.7.5
wcwidth==0.1.7
weasyprint==50
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.6
widgetsnbextension==3.5.0
win-unicode-console==0.5
wrapt==1.11.1
xlrd==1.2.0
xlwt==1.3.0
zipp==3.4.0
